
# Enable AWS IoT SDK support

CONFIG_AWS_IOT_SDK=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=8192
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=1024
CONFIG_MBEDTLS_SSL_ALPN=y

CONFIG_ESPTOOLPY_MONITOR_BAUD_9600B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD=9600
CONFIG_CONSOLE_UART_BAUDRATE=9600
CONFIG_MONITOR_BAUD_9600B=y
CONFIG_MONITOR_BAUD=9600

CONFIG_FREERTOS_HZ=1000

CONFIG_LOG_BOOTLOADER_LEVEL_VERBOSE=y
CONFIG_LOG_BOOTLOADER_LEVEL=5
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_LOG_DEFAULT_LEVEL=4
